# DataTypes in Python

Python has several built-in data types that are used to store different kinds of data. Understanding data types is fundamental to programming in Python.

* Int
* Float
* Str
* Bool
* NoneType

### None of these data types are mutable

## Int

Integers are whole numbers, positive or negative, without decimals.

In [4]:
x = 5
z = 69

print(x)
print(z)

5
69

In [ ]:
# Operations with integers
a = 10
b = 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)  # Float result
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Power:", a ** b)

## Float

Floats represent real numbers with decimal points.

In [5]:
x = 4.20
y = -6.9

print(x , y)

4.2 -6.9

In [ ]:
# Float operations
pi = 3.14159
radius = 5.0
area = pi * radius ** 2
print("Area of circle:", area)

# Scientific notation
large_number = 1.23e4  # 12300.0
small_number = 5.67e-3  # 0.00567
print("Large:", large_number)
print("Small:", small_number)

## Str

Strings are sequences of characters enclosed in quotes. They are immutable.

In [6]:
myStr = "Through Goes hamilton!"

print(myStr)

Through Goes hamilton!

In [ ]:
# String operations
name = "Alice"
greeting = "Hello, " + name + "!"
print(greeting)

# String methods
text = "python programming"
print("Upper:", text.upper())
print("Length:", len(text))
print("Slice:", text[0:6])  # 'python'

# Multi-line strings
multi = """This is a
multi-line string."""
print(multi)

## Bool

Booleans represent True or False values, often used in conditions and logical operations.

In [7]:
myBool = False
myOtherBool = True

print(myBool)
print(myOtherBool)

False
True

In [ ]:
# Boolean operations
a = True
b = False
print("AND:", a and b)  # False
print("OR:", a or b)    # True
print("NOT:", not a)    # False

# Comparison results in bool
x = 5
y = 10
print("x < y:", x < y)   # True
print("x == y:", x == y) # False

## NoneType

NoneType represents the absence of a value. None is often used to indicate that a variable has no value assigned.

In [8]:
myNull = None

print(myNull)

None

In [ ]:
# Using None
result = None
if result is None:
    print("No result yet")

# Functions can return None
def do_nothing():
    pass

print("Function returns:", do_nothing())

## Type Checking and Conversion

You can check the type of a variable using `type()` and convert between types using built-in functions.

In [ ]:
# Type checking
x = 5
y = 3.14
z = "hello"
print("Type of x:", type(x))  # <class 'int'>
print("Type of y:", type(y))  # <class 'float'>
print("Type of z:", type(z))  # <class 'str'>

# Type conversion
num_str = "123"
num_int = int(num_str)
num_float = float(num_str)
print("String to int:", num_int)
print("String to float:", num_float)

# Bool conversion
print("Int to bool:", bool(0))    # False
print("Int to bool:", bool(5))    # True
print("Str to bool:", bool(""))   # False
print("Str to bool:", bool("hi")) # True