# Learning in the GCF Workshop

---

### Importing libraries

We will require: `Pandas` and `Numpy`

---

In [2]:
import pandas as pd
import numpy as np

### open the file and seeing the data

---

In [3]:
df = pd.read_csv(r'E:\PortfolioProjects\Python Project\Pandas\gcf_data.csv')

df

   student_id            name  age grade                       email
0           1      John Smith   18     A      john.smith@example.com
1           2   Emily Johnson   17    B+   emily.johnson@example.com
2           3   Michael Brown   19    A-   michael.brown@example.com
3           4     Sarah Davis   18     B     sarah.davis@example.com
4           5    David Wilson   17     A    david.wilson@example.com
5           6    Jennifer Lee   18    B+    jennifer.lee@example.com
6           7   Robert Miller   19     C   robert.miller@example.com
7           8     Lisa Taylor   17    A-     lisa.taylor@example.com
8           9  James Anderson   18     B  james.anderson@example.com
9          10    Megan Thomas   19     A   megan.thomas@example.com

### Checking the stats of from the file

---

In [7]:
df.describe()

       student_id        age
count    10.00000  10.000000
mean      5.50000  18.000000
std       3.02765   0.816497
min       1.00000  17.000000
25%       3.25000  17.250000
50%       5.50000  18.000000
75%       7.75000  18.750000
max      10.00000  19.000000

### Check top 5 rows

---

In [5]:
df2 = df

df2.head(5)

   student_id           name  age grade                      email
0           1     John Smith   18     A     john.smith@example.com
1           2  Emily Johnson   17    B+  emily.johnson@example.com
2           3  Michael Brown   19    A-  michael.brown@example.com
3           4    Sarah Davis   18     B    sarah.davis@example.com
4           5   David Wilson   17     A   david.wilson@example.com

# group by and aggregate

--

In [17]:
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Values': [10, 20, 15, 25, 10, 30]}
df3 = pd.DataFrame(data)


grouped = df3.groupby('Category')['Values'].mean()

grouped

Category
A    11.666667
B    25.000000
Name: Values, dtype: float64

## Practice Task

1) Create a txt file and write student names to it using (x,w modes)
2) read and print the content of that file using line by line.(readlines())
3) append exam scores to the file.(a)
4) copy the content of one file to another (rb, wb)
5) count the number of lines ,words , characters in a file.(readlines()->lne(list)->no of lines)

In [ ]:
#Step 1
with open('score.txt', 'w') as f:
    names = input("Enter student names separated by commas: ").split(',')
    
    for name in names:
        f.write(name.strip() + '\n')
        f.flush()
    print("Student names written to score.txt\n")

    f.close()

#Step 2
with open('score.txt', 'r') as f:
    lines = f.readlines()
    print("Content of score.txt:")
    for line in lines:
        print(line.strip())
    
    print()
    f.close()

#Step 3
with open('score.txt', 'a') as f:
    scores = input(f"Enter exam scores for {len(names)} students separated by commas: ").split(',')
    
    for score in scores:
        f.write(score.strip() + '\n')
        f.flush()
    print("Exam scores appended to score.txt\n")
    f.close()

#Step 4
with open('score.txt', 'rb') as source_file:
    with open('copied_score.txt', 'wb') as dest_file:
        dest_file.write(source_file.read())
    print("Content copied to copied_score.txt\n")
    source_file.close()
    dest_file.close()

#Step 5
with open('score.txt', 'r') as f:
    lines = f.readlines()
    num_lines = len(lines)
    num_words = sum(len(line.split()) for line in lines)
    num_chars = sum(len(line) for line in lines)
    
    print(f"Number of lines: {num_lines}\n")
    print(f"Number of words: {num_words}\n")
    print(f"Number of characters: {num_chars}\n")
    f.close()

Student names written to score.txt

Content of score.txt:
Dhruval
Om
Amogh
Kanika
Hetvi

Exam scores appended to score.txt

Content copied to copied_score.txt

Number of lines: 10

Number of words: 10

Number of characters: 45