# Creating Tables in SQLite

In this notebook, you'll learn how to create tables in an SQLite database using Python. We'll cover table creation syntax, data types, constraints, and best practices.

In [1]:
import sqlite3
import os

# Connect to database (creates if doesn't exist)
conn = sqlite3.connect('university.db')
cursor = conn.cursor()

print('Connected to database')

Connected to database

## Basic Table Creation

The basic syntax for creating a table in SQLite is:

```sql
CREATE TABLE table_name (
    column1 datatype constraints,
    column2 datatype constraints,
    ...
);
```

In [2]:
# Create a simple students table
cursor.execute('''
    CREATE TABLE students (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        grade REAL
    )
''')

print('Students table created successfully')

Students table created successfully

## SQLite Data Types

SQLite supports these data types:

- **INTEGER**: Signed integers
- **REAL**: Floating-point numbers
- **TEXT**: Text strings
- **BLOB**: Binary data
- **NULL**: NULL values

Note: SQLite is dynamically typed, so you can store any type in any column.

In [3]:
# Create a more complex table with various data types
cursor.execute('''
    CREATE TABLE courses (
        course_id INTEGER PRIMARY KEY,
        course_name TEXT NOT NULL,
        instructor TEXT,
        credits REAL DEFAULT 3.0,
        department TEXT,
        created_date TEXT
    )
''')

print('Courses table created successfully')

Courses table created successfully

## Table Constraints

SQLite supports various constraints:

- **PRIMARY KEY**: Uniquely identifies each record
- **NOT NULL**: Ensures column cannot have NULL values
- **UNIQUE**: Ensures all values in column are unique
- **DEFAULT**: Provides default value
- **CHECK**: Ensures values meet certain conditions
- **FOREIGN KEY**: References primary key in another table

In [4]:
# Create table with constraints
cursor.execute('''
    CREATE TABLE enrollments (
        enrollment_id INTEGER PRIMARY KEY,
        student_id INTEGER NOT NULL,
        course_id INTEGER NOT NULL,
        semester TEXT NOT NULL,
        grade TEXT CHECK(grade IN ('A', 'B', 'C', 'D', 'F')),
        enrollment_date TEXT DEFAULT CURRENT_DATE,
        FOREIGN KEY (student_id) REFERENCES students (id),
        FOREIGN KEY (course_id) REFERENCES courses (course_id)
    )
''')

print('Enrollments table created successfully')

Enrollments table created successfully

## Auto-Incrementing Primary Keys

Use AUTOINCREMENT for automatically incrementing primary keys.

In [5]:
# Create table with auto-incrementing primary key
cursor.execute('''
    CREATE TABLE departments (
        dept_id INTEGER PRIMARY KEY AUTOINCREMENT,
        dept_name TEXT UNIQUE NOT NULL,
        dept_head TEXT,
        budget REAL
    )
''')

print('Departments table created successfully')

Departments table created successfully

## Checking Table Creation

You can verify that tables were created by querying the sqlite_master table.

In [6]:
# List all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print('Tables in database:')
for table in tables:
    print(f'  - {table[0]}')

# Get table schema
print('\nStudents table schema:')
cursor.execute("PRAGMA table_info(students)")
schema = cursor.fetchall()
for column in schema:
    print(f'  {column[1]}: {column[2]} {column[3]}')

Tables in database:
  - students
  - courses
  - enrollments
  - departments
  - sqlite_sequence

Students table schema:
  id: INTEGER 0
  name: TEXT 1
  age: INTEGER 0
  grade: REAL 0

## Dropping Tables

You can drop tables if they exist.

In [7]:
# Drop table if it exists
cursor.execute('DROP TABLE IF EXISTS test_table')

print('Table dropped (if existed)')

# Commit changes
conn.commit()

Table dropped (if existed)

## Summary

In this notebook, you learned how to:

- Create tables with various data types
- Use constraints like PRIMARY KEY, NOT NULL, UNIQUE, DEFAULT, CHECK
- Implement foreign key relationships
- Use auto-incrementing primary keys
- Check table creation and schemas
- Drop tables when needed

Proper table design is crucial for database performance and data integrity. Always plan your schema carefully before creating tables.

In [ ]:
# Close the connection
conn.close()
print('Database connection closed')