# Inserting Data into SQLite Tables

In this notebook, you'll learn how to insert data into SQLite tables using Python. We'll cover single row inserts, multiple row inserts, and best practices for data insertion.

In [11]:
import sqlite3

# Connect to database
conn = sqlite3.connect('university.db')
cursor = conn.cursor()

print('Connected to database')

Connected to database

## Single Row Insert

The basic syntax for inserting a single row is:

```sql
INSERT INTO table_name (column1, column2, ...) VALUES (value1, value2, ...);
```

In [14]:
# Insert a single student
cursor.execute('''
    INSERT INTO students (name, age, grade)
    VALUES ('Alice Johnson', 20, 3.8)
''')

print('Student inserted successfully')
print('Last row ID:', cursor.lastrowid)

Student inserted successfully
Last row ID: 7

## Inserting Multiple Rows

You can insert multiple rows in a single execute call or use executemany for efficiency.

In [4]:
# Insert multiple students using separate executes
students_data = [
    ('Bob Smith', 22, 3.5),
    ('Charlie Brown', 19, 3.9),
    ('Diana Prince', 21, 4.0)
]

for student in students_data:
    cursor.execute('''
        INSERT INTO students (name, age, grade)
        VALUES (?, ?, ?)
    ''', student)

print('Multiple students inserted')

Multiple students inserted

## Using executemany() for Bulk Inserts

executemany() is more efficient for inserting multiple rows.

In [5]:
# Insert multiple courses using executemany
courses_data = [
    ('Introduction to Computer Science', 'Dr. Smith', 4.0, 'CS'),
    ('Calculus I', 'Prof. Johnson', 4.0, 'MATH'),
    ('English Literature', 'Dr. Williams', 3.0, 'ENGL'),
    ('Physics I', 'Prof. Davis', 4.0, 'PHYS')
]

cursor.executemany('''
    INSERT INTO courses (course_name, instructor, credits, department)
    VALUES (?, ?, ?, ?)
''', courses_data)

print('Courses inserted successfully')

Courses inserted successfully

## Using Named Parameters

You can use named parameters for more readable code.

In [6]:
# Insert using named parameters
cursor.execute('''
    INSERT INTO departments (dept_name, dept_head, budget)
    VALUES (:name, :head, :budget)
''', {
    'name': 'Computer Science',
    'head': 'Dr. Smith',
    'budget': 500000.00
})

print('Department inserted with named parameters')

Department inserted with named parameters

## Inserting with Default Values

Columns with default values can be omitted from the INSERT statement.

In [7]:
# Insert enrollment with default enrollment_date
cursor.execute('''
    INSERT INTO enrollments (student_id, course_id, semester)
    VALUES (1, 1, 'Fall 2023')
''')

print('Enrollment inserted with default values')

Enrollment inserted with default values

## Handling Duplicate Data

Use INSERT OR IGNORE to skip duplicates, or INSERT OR REPLACE to update.

In [8]:
# Try to insert duplicate department (will be ignored due to UNIQUE constraint)
cursor.execute('''
    INSERT OR IGNORE INTO departments (dept_name, dept_head, budget)
    VALUES ('Computer Science', 'Dr. Jones', 600000.00)
''')

print('Duplicate department insertion attempted (ignored)')

# Insert or replace
cursor.execute('''
    INSERT OR REPLACE INTO departments (dept_id, dept_name, dept_head, budget)
    VALUES (1, 'Computer Science', 'Dr. Jones', 600000.00)
''')

print('Department updated with INSERT OR REPLACE')

Duplicate department insertion attempted (ignored)
Department updated with INSERT OR REPLACE

## Verifying Inserts

Check that data was inserted correctly.

In [15]:
# Check students table
cursor.execute('SELECT * FROM students')
students = cursor.fetchall()

print('Students in database:')
for student in students:
    print(f'  ID: {student[0]}, Name: {student[1]}, Age: {student[2]}, Grade: {student[3]}')

# Check row count
cursor.execute('SELECT COUNT(*) FROM students')
count = cursor.fetchone()[0]
print(f'\nTotal students: {count}')

# Commit changes
conn.commit()

Students in database:
  ID: 1, Name: Alice Johnson, Age: 20, Grade: 3.8
  ID: 2, Name: Bob Smith, Age: 22, Grade: 3.5
  ID: 3, Name: Charlie Brown, Age: 19, Grade: 3.9
  ID: 4, Name: Diana Prince, Age: 21, Grade: 4.0
  ID: 5, Name: Alice Johnson, Age: 20, Grade: 3.8
  ID: 6, Name: Alice Johnson, Age: 20, Grade: 3.8
  ID: 7, Name: Alice Johnson, Age: 20, Grade: 3.8

Total students: 7

## Summary

In this notebook, you learned how to:

- Insert single rows using basic INSERT statements
- Insert multiple rows efficiently with executemany()
- Use parameterized queries to prevent SQL injection
- Use named parameters for readability
- Handle default values and constraints
- Handle duplicate data with INSERT OR IGNORE/REPLACE
- Verify data insertion

Always use parameterized queries when inserting user-provided data to prevent SQL injection attacks. Use executemany() for bulk inserts to improve performance.

In [10]:
# Close the connection
conn.close()
print('Database connection closed')

Database connection closed