# Querying Data from SQLite Tables

In this notebook, you'll learn how to query data from SQLite tables using SELECT statements. We'll cover basic queries, filtering, sorting, joining tables, and aggregate functions.

In [ ]:
import sqlite3

# Connect to database
conn = sqlite3.connect('university.db')
cursor = conn.cursor()

print('Connected to database')

## Basic SELECT Queries

The basic syntax for SELECT queries is:

```sql
SELECT column1, column2, ...
FROM table_name;
```

Use `*` to select all columns.

In [ ]:
# Select all students
cursor.execute('SELECT * FROM students')
students = cursor.fetchall()

print('All students:')
for student in students:
    print(student)

# Select specific columns
cursor.execute('SELECT name, grade FROM students')
names_grades = cursor.fetchall()

print('\nNames and grades:')
for name, grade in names_grades:
    print(f'{name}: {grade}')

## Filtering with WHERE

Use WHERE clause to filter results based on conditions.

In [ ]:
# Filter students by grade
cursor.execute('SELECT name, grade FROM students WHERE grade >= 3.5')
high_performers = cursor.fetchall()

print('High performing students (grade >= 3.5):')
for name, grade in high_performers:
    print(f'{name}: {grade}')

# Filter with multiple conditions
cursor.execute('SELECT name, age FROM students WHERE age BETWEEN 20 AND 22')
age_range = cursor.fetchall()

print('\nStudents aged 20-22:')
for name, age in age_range:
    print(f'{name}: {age}')

## Sorting Results

Use ORDER BY to sort results. Add DESC for descending order.

In [ ]:
# Sort by grade descending
cursor.execute('SELECT name, grade FROM students ORDER BY grade DESC')
sorted_grades = cursor.fetchall()

print('Students sorted by grade (descending):')
for name, grade in sorted_grades:
    print(f'{name}: {grade}')

# Sort by multiple columns
cursor.execute('SELECT name, age, grade FROM students ORDER BY age ASC, grade DESC')
sorted_multiple = cursor.fetchall()

print('\nStudents sorted by age ASC, then grade DESC:')
for name, age, grade in sorted_multiple:
    print(f'{name}: Age {age}, Grade {grade}')

## Limiting Results

Use LIMIT to restrict the number of rows returned.

In [ ]:
# Get top 2 students by grade
cursor.execute('SELECT name, grade FROM students ORDER BY grade DESC LIMIT 2')
top_students = cursor.fetchall()

print('Top 2 students by grade:')
for name, grade in top_students:
    print(f'{name}: {grade}')

# LIMIT with OFFSET
cursor.execute('SELECT name, grade FROM students ORDER BY grade DESC LIMIT 2 OFFSET 1')
second_third = cursor.fetchall()

print('\n2nd and 3rd students by grade:')
for name, grade in second_third:
    print(f'{name}: {grade}')

## Aggregate Functions

SQLite supports aggregate functions like COUNT, SUM, AVG, MIN, MAX.

In [ ]:
# Count total students
cursor.execute('SELECT COUNT(*) FROM students')
total_students = cursor.fetchone()[0]
print(f'Total students: {total_students}')

# Average grade
cursor.execute('SELECT AVG(grade) FROM students')
avg_grade = cursor.fetchone()[0]
print(f'Average grade: {avg_grade:.2f}')

# Min and max age
cursor.execute('SELECT MIN(age), MAX(age) FROM students')
min_age, max_age = cursor.fetchone()
print(f'Age range: {min_age} - {max_age}')

## GROUP BY and HAVING

Use GROUP BY to group results and HAVING to filter groups.

In [ ]:
# Group by department and count courses
cursor.execute('''
    SELECT department, COUNT(*) as course_count
    FROM courses
    GROUP BY department
''')
dept_counts = cursor.fetchall()

print('Courses per department:')
for dept, count in dept_counts:
    print(f'{dept}: {count} courses')

# Group with HAVING
cursor.execute('''
    SELECT department, AVG(credits) as avg_credits
    FROM courses
    GROUP BY department
    HAVING AVG(credits) > 3.0
''')
high_credit_depts = cursor.fetchall()

print('\nDepartments with average credits > 3.0:')
for dept, avg_credits in high_credit_depts:
    print(f'{dept}: {avg_credits:.1f} average credits')

## Joining Tables

Use JOIN to combine data from multiple tables.

In [ ]:
# Join students and enrollments
cursor.execute('''
    SELECT s.name, c.course_name, e.grade
    FROM students s
    JOIN enrollments e ON s.id = e.student_id
    JOIN courses c ON e.course_id = c.course_id
''')
enrollments = cursor.fetchall()

print('Student enrollments:')
for name, course, grade in enrollments:
    print(f'{name} - {course}: {grade}')

# Left join example
cursor.execute('''
    SELECT s.name, COUNT(e.enrollment_id) as courses_taken
    FROM students s
    LEFT JOIN enrollments e ON s.id = e.student_id
    GROUP BY s.id, s.name
''')
course_counts = cursor.fetchall()

print('\nCourses taken by each student:')
for name, count in course_counts:
    print(f'{name}: {count} courses')

## Using Parameters in Queries

Always use parameters for user input to prevent SQL injection.

In [ ]:
# Query with parameters
min_grade = 3.5
cursor.execute('SELECT name, grade FROM students WHERE grade >= ?', (min_grade,))
results = cursor.fetchall()

print(f'Students with grade >= {min_grade}:')
for name, grade in results:
    print(f'{name}: {grade}')

# Multiple parameters
dept = 'CS'
min_credits = 3.0
cursor.execute('''
    SELECT course_name, credits 
    FROM courses 
    WHERE department = ? AND credits >= ?
''', (dept, min_credits))
cs_courses = cursor.fetchall()

print(f'\n{dept} courses with >= {min_credits} credits:')
for name, credits in cs_courses:
    print(f'{name}: {credits} credits')

## Summary

In this notebook, you learned how to:

- Perform basic SELECT queries
- Filter results with WHERE clauses
- Sort results with ORDER BY
- Limit results with LIMIT and OFFSET
- Use aggregate functions (COUNT, AVG, MIN, MAX)
- Group data with GROUP BY and filter groups with HAVING
- Join multiple tables
- Use parameterized queries for security

These are the fundamental operations for retrieving data from SQLite databases. Always use parameterized queries when incorporating user input to prevent SQL injection attacks.

In [ ]:
# Close the connection
conn.close()
print('Database connection closed')