## <b> GCF Practice Tasks </b>

## Task 1: Create a table for employees records (id, name, department, salary).

In [1]:
import sqlite3
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    department TEXT NOT NULL,
    salary REAL NOT NULL
)
''')

conn.commit()
conn.close()

## Task 2: Insert 5 dummy employee records using executemany().

In [ ]:
conn = sqlite3.connect('employees.db')
cursor = conn.cursor()
employees = [
    (1, 'Alice', 'HR', 60000),
    (2, 'Bob', 'Engineering', 80000),
    (3, 'Charlie', 'Marketing', 70000),
    (4, 'David', 'Finance', 75000),
    (5, 'Eve', 'Engineering', 85000)
]
cursor.executemany('INSERT INTO employees (id, name, department, salary) VALUES (?, ?, ?, ?)', employees)
conn.commit()
conn.close()

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print('Data', row)

conn.close()

Data (1, 'Alice', 'HR', 60000.0)
Data (2, 'Bob', 'Engineering', 80000.0)
Data (3, 'Charlie', 'Marketing', 70000.0)
Data (4, 'David', 'Finance', 75000.0)
Data (5, 'Eve', 'Engineering', 85000.0)

## Task 3 :  Write a function to update an employee's department.

In [ ]:
def update_department(employee_id, new_department):
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    cursor.execute('UPDATE employees SET department = ? WHERE id = ?', (new_department, employee_id))
    conn.commit()
    conn.close()

update_department(2, 'Product Management')

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print('Data', row)

conn.close()

Data (1, 'Alice', 'HR', 60000.0)
Data (2, 'Bob', 'Product Management', 80000.0)
Data (3, 'Charlie', 'Marketing', 70000.0)
Data (4, 'David', 'Finance', 75000.0)
Data (5, 'Eve', 'Engineering', 85000.0)

## Task 4: Write a program to search employee by name.

In [16]:
def search_employee_by_name(name):
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE name = ?', (name,))
    rows = cursor.fetchall()
    for row in rows:
        print('Search Result:', row)
    conn.close()

search_employee_by_name('Bob')

Search Result: (2, 'Bob', 'Product Management', 80000.0)

## Task 5: Delete records of employees with salary below a certain threshold.

In [9]:
def delete_employee_below_salary(salary_threshold):
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    cursor.execute('DELETE FROM employees WHERE salary < ?', (salary_threshold,))
    conn.commit()
    conn.close()

delete_employee_below_salary(75000)

conn = sqlite3.connect('employees.db')
cursor = conn.cursor()
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print('Data', row)

conn.close()

Data (2, 'Bob', 'Product Management', 80000.0)
Data (4, 'David', 'Finance', 75000.0)
Data (5, 'Eve', 'Engineering', 85000.0)